{% extends 'webBlog/_base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}


{% if "gracias" in request.GET %}

    <h3>¡Muchas gracias!</h3>
    <p>Sus comentarios son muy importantes.</p>


{% elif "error" in request.GET %}

    <h3>Error de servidor</h3>
    <p>El mensaje no pudo ser enviado en este momento.</p>

{% else %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{miformulario.as_table}}
        </table>
            <input type="submit">
            <input type="reset">            
    </form>
</div>

{% endif %}

{% endblock %}