
body {
    background-color: #e7f1f1; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    height: 100%;    

}

header {
    margin-top: 2em;
}

.logo {
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    background-image: url('../img/logo-trns-200.png');
}

.menu {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu__item {
    margin: 0.5rem 0;
    padding: 4px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #2479C1;
    padding: .475rem 2rem;
}

.menu a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: #043391;
}

.menu a:active {
    text-decoration: none;
    text-transform: uppercase;
    color: #4d0491;
}

.seccion a {
    color: green;
    text-decoration: underline;
}



.main-container {
    width: 90%;
    max-width: 900px;
    background-color: white;
    margin: 0 auto 50px auto;
    padding: 0.5em 0;
}

.content-container {
    margin: 0.5em;
}

.imagen-centrada {
    text-align: center;
}


footer {
    background-color: lightgrey;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    color: lightslategray;
    
    display: grid;
    height: 50px;
    align-content: center;
}


@media screen and (min-width: 780px) {
    nav {
        width: 74%;
        max-width: 650px;
        margin: 0 auto;
    }
    .menu {
        display: flex;
        justify-content: space-between;        
    }   
}
