{% extends 'webBlog/_base.html' %}

# {% load static %}

{% block title %}Blog{% endblock %}

{% block content %}

{% for i in postca %}
<div style="background-color: greenyellow;">
    <h2>{{ i.titulo }}</h2>
    
    <h6>Autor: {{i.autor}}</h6>
    <h6>Creado: {{i.creado}}</h6>
    <h6>Modificado: {{i.updated}}</h6>


    {% if i.imagen %}
        <div class="imagen-centrada">
            <img src="{{i.imagen.url}}" alt="">
        </div>
    {% else %}
        <p>Sin imagen</p>
    {% endif %}
    <p>{{ i.cuerpo }}</p>
</div>
{% endfor %}

<section class="menu-categorias">    
    <p>Categoria: | <a href="">{{ lacatego }}</a>

</section>

{% endblock %}